---
#
# Values from input
#
dns_ipv4: "{{ sre_ipv4 }}"
sre_ipv4: "{{ sre_ipv4 }}"
sre_private_ipv4: "{{ sre_ipv4 }}"
masters_ipv4: {{ masters_ipv4 }}
minions_ipv4: {{ minions_ipv4 }}
{%- raw %}
ssh_private_key_file: "{{ hs_workspace_ssh_private_key_file }}"
#
# Role configuration for: rtnp.galaxie_clans.dns
#
dns_enable: true
bind_listen_ipv4: ['127.0.0.1']
bind_listen_ipv6: ['::1']
bind_recursion: true
bind_allow_query: ['any']
bind_allow_recursion: ['127.0.0.1']
bind_forwarders:
  - "{{ hostvars[groups['hashistack_sre'][0]].ansible_default_ipv4.address }}" 
bind_views:
  - name: default
bind_zone_domains:
  - name: "{{ public_domain }}"
    type: forward
    forwarders:
      - "{{ hostvars[groups['hashistack_sre'][0]].ansible_default_ipv4.address }}"
  - name: "consul"
    type: forward
    forwarders:
      - "127.0.0.1 port 8600"

system_base_domain: "{{ public_domain }}"

rproxy_enable: true
local_resolver_forwards:
  - zone: "."
    forwards:
      - "{{ bind_forwarders }}"

ssl_certs_dir: "/etc/ssl/private"
clan_host_caretaker_default_private_key_file: >-
  {{ ssh_private_key_file }}
clan_host_caretaker_password_file: "{{ hs_workspace_secrets_dir }}/caretaker.password"
hs_vault_listen_ipv4: "0.0.0.0"
#
# Role configuration: wescale.hashistack.consul
#
nomad_consul_token: "{{ consul_connect_token }}"

grafana_public_cluster_address: "grafana.{{ public_domain }}"

loki_cluster_address: "loki.{{ public_domain }}"

monitor_netdata_web_bind_to: "0.0.0.0"

prometheus_version: "2.42.0"

hs_vault_use_custom_ca: true
hs_consul_use_custom_ca: true
hs_nomad_use_custom_ca: true
hs_grafana_use_custom_ca: true
{% endraw %}
