service {
  name  = "vault"
  port  = 8200
  token = "{{ consul_acl_vault_token }}"
  connect {
    sidecar_service {
      port  = 22000
      proxy = {
        destination_service_name = "vault"
        local_service_address    = "127.0.0.1"
        local_service_port       = 8200
        config = {
          local_request_timeout_ms  = 0
          local_idle_timeout_ms     = 0
        }
      }
    }
  }
}

