[hashistack:children]
hashistack_cluster
hashistack_sre

[hashistack_cluster:children]
hashistack_masters
hashistack_minions

[hashistack_sre]
{{ hs_workspace }}-mono

[hashistack_masters]
{{ hs_workspace }}-mono

[hashistack_minions]
{{ hs_workspace }}-mono
