---
- name: Load group vars
  include_vars:
    dir: "{{ hs_workspace_group_vars_dir }}"
    ignore_unknown_extensions: true
  delegate_to: localhost
  become: false
  run_once: true

- name: Validate API availability
  uri:
    url: "{{ hs_consul_external_url }}/v1/agent/members"
    headers:
      X-Consul-Token: "{{ hs_consul_root.SecretID }}"
    ca_path: "{{ hs_consul_use_custom_ca | ternary(hs_consul_local_ca_cert, '') | default(omit, true) }}"
  register: _consul_ping_api
  until: _consul_ping_api.status == 200
  retries: 30
  delay: 10
  delegate_to: localhost
  become: false
  run_once: true

- name: "[LOCAL] Copy terraform consul configuration"    # noqa risky-file-permissions name[template]
  copy:
    src: "{{ role_path }}/files/consul_config/"
    dest: "{{ hs_consul_terraform_work_dir }}/consul_config/"
    mode: "u+rwX,g+rX,o-rX"
  delegate_to: localhost
  become: false
  run_once: true

- name: "COMMON - Do Terraform (can take up to 30 minutes)"
  cloud.terraform.terraform:
    project_path: "{{ hs_consul_terraform_work_dir }}/consul_config/"
    state: "{{ (tf_action == 'destroy') | ternary('absent', 'present') }}"    # noqa args
    force_init: true
    provider_upgrade: "{{ hs_tf_provider_upgrade | default(true) }}"
    workspace: "{{ hs_workspace }}"
    variables:
      consul_address: "{{ hs_consul_external_url }}"
      datacenter: "{{ hs_consul_datacenter_name }}"
      token: "{{ hs_consul_root.SecretID }}"
      ca_file: "{{ hs_consul_use_custom_ca | ternary(hs_consul_local_ca_cert, '') | default(omit, true) }}"
  environment:
    TF_CLI_ARGS: ""
    TF_CLI_ARGS_init: ""
    TF_CLI_ARGS_plan: ""
    TF_CLI_ARGS_apply: ""
    TF_CLI_ARGS_destroy: ""
  register: tf_result
  delegate_to: localhost
  become: false
  run_once: true
  tags:
    - molecule-idempotence-notest

- name: Generate host_vars for public_ns
  copy:
    dest: "{{ hs_workspace_secrets_dir }}/tf_consul_config.yml"
    mode: 0600
    content: |-
        ---
        hs_consul_connect_token_server: "{{ tf_result.outputs.consul_acl_nomad_server_token.value }}"
        hs_consul_connect_token_client: "{{ tf_result.outputs.consul_acl_nomad_client_token.value }}"
        hs_consul_prometheus_token: "{{ tf_result.outputs.consul_acl_prometheus_token.value }}"
        hs_consul_telemetry_token: "{{ tf_result.outputs.consul_acl_telemetry_token.value }}"
        hs_consul_promtail_token: "{{ tf_result.outputs.consul_acl_promtail_token.value }}"
        hs_consul_acl_auto_encrypt_token: "{{ tf_result.outputs.consul_acl_minion_token.value }}"
        hs_consul_nomad2vault_token: "{{ tf_result.outputs.consul_nomad2vault_token.value }}"
        hs_consul_acl_vault_token: "{{ tf_result.outputs.consul_acl_vault_token.value }}"
  delegate_to: localhost
  become: false
  run_once: true
  tags:
    - molecule-idempotence-notest

- name: Load group vars
  include_vars:
    dir: "{{ hs_workspace_group_vars_dir }}"
    ignore_unknown_extensions: true
  delegate_to: localhost
  become: false
  run_once: true

