upstream vault_masters {
{% for master_node_ip in masters_ipv4 %}
  server {{ master_node_ip }}:8200;
{% endfor %}
}



server {
	listen 80;
  server_name {{ vault_public_cluster_address }};
  return 301 https://$host$request_uri;
}

server {

  listen 443 ssl;
  server_name {{ vault_public_cluster_address }};

  ssl_certificate /etc/ssl/private/*.{{ public_domain }}.fullchain.crt;
  ssl_certificate_key /etc/ssl/private/*.{{ public_domain }}.key;

  location / {
      proxy_pass        https://vault_masters/; # The / is important!
      proxy_set_header  X-Script-Name /;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_pass_header Authorization;
  }
}

upstream consul_masters {
  ip_hash;
{% for master_node_ip in masters_ipv4 %}
  server {{ master_node_ip }}:8501;
{% endfor %}
}

server {
	listen 80;
  server_name {{ consul_public_cluster_address }};
  return 301 https://$host$request_uri;
}

server {

  listen 443 ssl;
  server_name {{ consul_public_cluster_address }};

  ssl_certificate /etc/ssl/private/*.{{ public_domain }}.fullchain.crt;
  ssl_certificate_key /etc/ssl/private/*.{{ public_domain }}.key;

  location / {
      proxy_pass        https://consul_masters/; # The / is important!
      proxy_pass_header X-Consul-Token;

      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_read_timeout 310s;
      proxy_buffering off;
      # The Upgrade and Connection headers are used to establish
      # a WebSockets connection.
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

      # The default Origin header will be the proxy address, which
      # will be rejected by Nomad. It must be rewritten to be the
      # host address instead.
      proxy_set_header Origin "${scheme}://${proxy_host}";
  }
}

upstream nomad_masters {
  ip_hash;
{% for master_node_ip in masters_ipv4 %}
  server {{ master_node_ip }}:4646;
{% endfor %}
}

upstream nomad_minions {
  ip_hash;
{% for minion_node_ip in minions_ipv4 %}
  server {{ minion_node_ip }}:8080;
{% endfor %}
}

server {
	listen 80;
  server_name {{ nomad_public_cluster_address }};
  return 301 https://$host$request_uri;
}

# https://learn.hashicorp.com/tutorials/nomad/reverse-proxy-ui

server {

  listen 443 ssl;
  server_name {{ nomad_public_cluster_address }};

  ssl_certificate /etc/ssl/private/*.{{ public_domain }}.fullchain.crt;
  ssl_certificate_key /etc/ssl/private/*.{{ public_domain }}.key;

  location / {
      proxy_pass        https://nomad_masters;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_read_timeout 310s;
      proxy_buffering off;
      # The Upgrade and Connection headers are used to establish
      # a WebSockets connection.
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

      # The default Origin header will be the proxy address, which
      # will be rejected by Nomad. It must be rewritten to be the
      # host address instead.
      proxy_set_header Origin "${scheme}://${proxy_host}";
  }
}

server {
	listen 80;
  server_name *.{{ public_domain }};
  return 301 https://$host$request_uri;
}

# https://learn.hashicorp.com/tutorials/nomad/reverse-proxy-ui

server {

  listen 443 ssl;
  server_name *.{{ public_domain }};

  ssl_certificate /etc/ssl/private/*.{{ public_domain }}.fullchain.crt;
  ssl_certificate_key /etc/ssl/private/*.{{ public_domain }}.key;

  location / {
      proxy_pass        http://nomad_minions;
      proxy_set_header  X-Forwarded-For $proxy_add_x_forwarded_for;
      proxy_read_timeout 310s;
      proxy_buffering off;
      proxy_http_version 1.1;
      # The Upgrade and Connection headers are used to establish
      # a WebSockets connection.
      proxy_set_header Upgrade $http_upgrade;
      proxy_set_header Connection "upgrade";

      # The default Origin header will be the proxy address, which
      # will be rejected by Nomad. It must be rewritten to be the
      # host address instead.
      proxy_set_header Origin "${scheme}://${proxy_host}";
  }
}


server {
	listen 80;
  server_name grafana.{{ public_domain }};
  return 301 https://$host$request_uri;
}

server {

  listen 443 ssl;
  server_name grafana.{{ public_domain }};

  ssl_certificate /etc/ssl/private/*.{{ public_domain }}.fullchain.crt;
  ssl_certificate_key /etc/ssl/private/*.{{ public_domain }}.key;

  location / {
    proxy_pass        http://localhost:3000; # The / is important!
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header HOST $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_pass_request_headers on;
  }
}
