*.terraform/**
*.terraform.lock.hcl
.direnv/**
ansible_collections
.env.local
docs
group_vars
host_vars
.ansible-lint
.Dockerignore
.gitignore
.yamlint
Dockerfile
hosts
README.md
.env.secrets
.env.vault
tags
inventories/**
