.direnv
.env.local
.env.scw
.env.secret
.env.secrets
/group_vars/
/host_vars/
roles/cloudalchemy.*
build/clone
docs/build
hosts
ssh.cfg
tags
__pycache__
plugins/yaml2md/build
plugins/yaml2md/yaml2md.egg-info
.terraform
molecule/default/host_vars
