.vagrant
.idea
.direnv
.env.local
.env.scw
.env.secret
.env.secrets
.env.vault
/group_vars/
/host_vars/
roles/cloudalchemy.*
build/clone
docs/build
hosts
ssh.cfg
tags
__pycache__
plugins/yaml2md/build
plugins/yaml2md/yaml2md.egg-info
.terraform
docs/build
inventories/*
.terraform.lock.hcl

# macOS-specific files
.DS_Store
*.DS_Store