[Unit]
Description=Envoy ingress gateway for consul service {{ _current_target_service.name }}
Requires=network-online.target
After=network-online.target

[Service]
Restart=always
ExecStart=/sur/bin/consul connect envoy -gateway=ingress -service={{ _current_target_service.name }}

[Install]
WantedBy=multi-user.target
