CONSUL_HTTP_TOKEN="{{ hs_consul_acl_vault_token }}"
CONSUL_HTTP_ADDR="https://{{ inventory_hostname }}.{{ public_domain }}:8501"
CONSUL_GRPC_ADDR="{{ inventory_hostname }}.{{ public_domain }}:8503"
CONSUL_HTTP_SSL=true
