---
__hs_consul_inventory_masters_group: "hashistack_masters"
__hs_consul_inventory_minions_group: "hashistack_minions"

__hs_consul_precedence_marks:
  - "{{ ansible_distribution | lower }}_{{ ansible_distribution_major_version }}_{{ ansible_architecture | lower }}"
  - "{{ ansible_distribution | lower }}_{{ ansible_architecture | lower }}"
  - "{{ ansible_distribution | lower }}_{{ ansible_distribution_major_version }}"
  - "{{ ansible_distribution | lower }}"
  - "{{ ansible_os_family | lower }}"

__hs_role_configure_precedence:
  - "{{ __hs_consul_precedence_marks[0] }}/_configure.yml"
  - "{{ __hs_consul_precedence_marks[1] }}/_configure.yml"
  - "{{ __hs_consul_precedence_marks[2] }}/_configure.yml"
  - "{{ __hs_consul_precedence_marks[3] }}/_configure.yml"
  - "{{ __hs_consul_precedence_marks[4] }}/_configure.yml"

__hs_consul_is_master: >-
  {{
    inventory_hostname in groups[__hs_consul_inventory_masters_group]
  }}
__hs_consul_is_minion: "{{ not __hs_consul_is_master }}"


__hs_consul_is_multi_nodes: >-
  {{
    groups[__hs_consul_inventory_masters_group] | length > 1
  }}

__hs_consul_tls_dir: "/etc/ssl/private"
__hs_consul_ssl_cert_group: "ssl-cert"

__hs_consul_home_dir: "/opt/consul"
__hs_consul_data_dir: "{{ __hs_consul_home_dir }}/data"
__hs_consul_conf_dir: "/etc/consul.d"
__hs_consul_conf_file: "{{ __hs_consul_conf_dir }}/consul.hcl"
__hs_consul_expected_directories:
  - "{{ __hs_consul_data_dir }}"

__hs_consul_encrypt_key_local_path: "{{ hs_consul_local_secrets_dir }}/consul.encrypt_key"
__hs_consul_encrypt_key: >-
  {{ lookup('file', __hs_consul_encrypt_key_local_path) }}

__hs_consul_acl_auto_encrypt_token_path: "{{ consul_local_secrets_dir }}/consul.acl_token"

__hs_consul_acl_bootstrapped: false

__hs_consul_master_partners: >-
  {{
    groups[__hs_consul_inventory_masters_group]
    | difference([inventory_hostname])
    | map('regex_replace', '_', '-')
    | map('regex_replace', '$', '.' + hs_consul_domain)
  }}

__hs_consul_bootstrap_is_appliable: >-
  {{
    inventory_hostname in groups[__hs_consul_inventory_masters_group]
    and inventory_hostname == groups[__hs_consul_inventory_masters_group][0]
    and (
      ansible_local.hs_consul is not defined
      or ansible_local.hs_consul.role_applied is not defined
      or not ansible_local.hs_consul.role_applied
    )
  }}


__hs_consul_archive_url: >-
  https://releases.hashicorp.com/consul/{{ hs_consul_version }}/consul_{{ hs_consul_version }}_linux_amd64.zip
__hs_consul_archive_filename: "consul-{{ hs_consul_version }}.zip"
__hs_consul_local_archive_path: "{{ hs_consul_local_cache_dir }}/{{ __hs_consul_archive_filename }}"
__hs_consul_license_file: "{{ __hs_consul_conf_dir }}/consul.license"


__hs_consul_local_tf_config: "{{ role_path }}/files/consul_config"
