Host {{ hs_infra_workspace }}-edge
  Hostname              {{ _hs_infra_tf_edge_public_ipv4 }}
  Port                  {{ _hs_infra_tf_edge_bastion_port }}
  User                  bastion

Host {{ hs_infra_workspace }}-sre
  Hostname              {{ _hs_infra_tf_sre_ipv4 }}
  User                  {{ _hs_infra_tf_default_ssh_user }}
  ProxyJump             {{ hs_infra_workspace }}-edge

{% for _current_master_ipv4 in _hs_infra_tf_masters_ipv4 %}
Host {{ hs_infra_workspace }}-master-{{ loop.index }}
  Hostname              {{ _current_master_ipv4 }}
  User                  {{ _hs_infra_tf_default_ssh_user }}
  ProxyJump             {{ hs_infra_workspace }}-edge
{% endfor %}

Host {{ hs_infra_workspace }}-*
  IdentityFile          {{ hs_workspace_ssh_private_key_file_relative_path }}
  ControlPath           ~/.ssh/mux-%r@%h:%p
  ControlMaster         auto
  StrictHostKeyChecking no
  UserKnownHostsFile    /dev/null
  ControlPersist        10m
  ServerAliveInterval   100
  TCPKeepAlive          yes

