datacenter = "{{ hs_nomad_datacenter_name }}"
data_dir = "{{ __hs_nomad_data_dir }}"
name = "{{ inventory_hostname | regex_replace('\.','-') }}"

tls {
  http = true
  rpc  = true
  ca_file     = "{{ hs_nomad_ca_certificate }}"
  cert_file   = "{{ __hs_nomad_self_certificate }}"
  key_file    = "{{ __hs_nomad_self_private_key }}"
}

advertise {
  http = "{{ hs_nomad_advertise_addr }}"
}

telemetry {
  collection_interval = "1s"
  disable_hostname = true
  prometheus_metrics = true
  publish_allocation_metrics = true
  publish_node_metrics = true
}

acl {
  enabled = true
}

{% if __hs_nomad_is_mono_node %}
#
# BEGIN - mono-node configuration
#
consul {
  token        = "{{ __hs_nomad_is_master | ternary(hs_consul_connect_token_server, hs_consul_connect_token_client) }}"
  ssl          = true
  verify_ssl   = true
  address      = "{{ hs_nomad_consul_address }}"
  grpc_address = "{{ hs_nomad_consul_grpc_address }}"
  checks_use_advertise = true
}

server {
    enabled = true
    bootstrap_expect = {{ hs_nomad_bootstrap_expect }}
    encrypt = "{{ __hs_nomad_encrypt_key }}"
}

client {
  enabled = true

  host_volume "ca-certificates" {
    path = "/etc/ssl/certs"
    read_only = true
  }

{% for _hs_nomad_volume in hs_nomad_volumes %}
  host_volume "{{ _hs_nomad_volume.name }}" {
    path      = "{{ _hs_nomad_volume.path }}"
    read_only = {{ _hs_nomad_volume.read_only | string | lower }}
  }
{% endfor %}

  meta {    
    "connect.sidecar_image" = "{{ hs_nomad_connect_image }}"  
    "connect.gateway_image" = "{{ hs_nomad_connect_image }}"
  }

  options {
    "docker.cleanup.image" = "false"
    "connect.log_level" = "debug"
  }
}

{% if __hs_nomad_vault_integration %}
vault {
  enabled = true
  address = "{{ hs_nomad_vault_address }}"
  task_token_ttl = "1h"
  create_from_role = "hs_nomad_cluster"
  token = "{{ hs_nomad_vault_token }}"
}
{% endif %}

plugin "docker" {
  config {
    volumes {
      enabled      = true
    }
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
#
# END - mono-node configuration
#
{% elif __hs_nomad_is_master %}
#
# BEGIN - master-only configuration
#
consul {
  token        = "{{ __hs_nomad_is_master | ternary(hs_consul_connect_token_server, hs_consul_connect_token_client) }}"
  ssl          = true
  verify_ssl   = true
  address      = "{{ hs_nomad_consul_address }}"
  grpc_address = "{{ hs_nomad_consul_grpc_address }}"
}

{% if __hs_nomad_vault_integration %}
vault {
  enabled = true
  address = "{{ hs_nomad_vault_address }}"
  task_token_ttl = "1h"
  create_from_role = "hs_nomad_cluster"
  token = "{{ hs_nomad_vault_token }}"
}
{% endif %}

server {
    enabled = true
    bootstrap_expect = {{ hs_nomad_bootstrap_expect }}
    encrypt = "{{ __hs_nomad_encrypt_key }}"
}

client {
  enabled = false
}
#
# END - master-only configuration
#
{% else %}
#
# BEGIN - minion-only configuration
#
consul {
  token        = "{{ __hs_nomad_is_master | ternary(hs_consul_connect_token_server, hs_consul_connect_token_client) }}"
  ssl          = true
  verify_ssl   = true
  address      = "{{ hs_nomad_consul_address }}"
  grpc_address = "{{ hs_nomad_consul_grpc_address }}"
}

{% if __hs_nomad_vault_integration %}
vault {
  enabled = true
  address = "{{ hs_nomad_vault_address }}"
  task_token_ttl = "1h"
}
{% endif %}

client {
  enabled = true

  host_volume "ca-certificates" {
    path = "/etc/ssl/certs"
    read_only = true
  }

{% for hs_nomad_volume in hs_nomad_volumes %}
  host_volume "{{ hs_nomad_volume.name }}" {
    path      = "{{ hs_nomad_volume.path }}"
    read_only = {{ hs_nomad_volume.read_only | string | lower }}
  }
{% endfor %}

  meta {    
    "connect.sidecar_image" = "{{ hs_nomad_connect_image }}"  
    "connect.gateway_image" = "{{ hs_nomad_connect_image }}"  
  }

  options {
    "docker.cleanup.image" = "false"
    "connect.log_level" = "debug"
  }
}

plugin "docker" {
  config {
    volumes {
      enabled      = true
    }
  }
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
#
# END - minion-only configuration
#
{% endif %}
