---
- name: "Gather useful facts"
  setup:
    gather_subset:
      - "!hardware"
      - "!virtual"
      - "!ohai"
      - "!facter"

- name: Load os-specific vars
  include_vars: "{{ _current_os_vars }}"
  with_first_found:
    - skip: true
      files: "{{ role_path }}/vars/{{ __hs_role_vars_precedence }}"
  loop_control:
    loop_var: _current_os_vars
  when:
    - ansible_distribution is defined
    - ansible_distribution | length > 0
  tags: always

