#!/usr/bin/env ansible-playbook
---
- name: "Refresh vault pki issued cert"
  hosts: localhost
  become: false
  gather_facts: false

  environment:
    VAULT_ADDR: "{{ hs_vault_external_url }}"
    VAULT_TOKEN: "{{ _hs_vault_pki_token }}"

  vars:
    forward_delay: "+1w"
    pki_name: "{{ hs_vault_addon_pki_name }}"
    pki_path: "{{ _hs_vault_pki_path }}"
    cert_dir: "/etc/ssl/private"
    vault_role: "pki_albertine_role"

{% raw %}
  pre_tasks:
    - name: "Forge cert path"
      set_fact:
        cert_path: >-
          {{ cert_dir }}/{{ subdomain }}.{{ pki_name }}.crt
        cert_chain_path: >-
          {{ cert_dir }}/{{ subdomain }}.{{ pki_name }}.fullchain.crt
        key_path: >-
          {{ cert_dir }}/{{ subdomain }}.{{ pki_name }}.key

    - name: "Check cert file"
      stat:
        path: "{{ cert_path }}"
      register: cert_check
    

    - name: "Get certificate information"
      community.crypto.x509_certificate_info:
        path: "{{ cert_path }}"
        valid_at:
          forward_delay: "{{ forward_delay }}"
      register: cert_info
      when:
        - cert_check.stat.exists

    - name: "Issue new certificate"
      command:
        cmd: >-
          vault write -format json
          {{ pki_path }}/issue/{{ vault_role }}
          common_name="sre.albertine.toc" ttl="24d"
      when: >-
        not cert_check.stat.exists
        or 
        not cert_info.valid_at.forward_delay
      register: cert_renewed

    - name: "Store renewed cert fullchain"
      copy:
        dest: "{{ cert_chain_path }}"
        content: |-
          {{ (cert_renewed.stdout | from_json).data.ca_chain }}
        mode: 0640
      when:
        - cert_renewed is changed

    - name: "Store renewed cert"
      copy:
        dest: "{{ cert_path }}"
        content: |-
          {{ (cert_renewed.stdout | from_json).data.certificate }}
        mode: 0640
      when:
        - cert_renewed is changed

    - name: "Store renewed cert key"
      copy:
        dest: "{{ key_path }}"
        content: |-
          {{ (cert_renewed.stdout | from_json).data.private_key }}
        mode: 0640
      when:
        - cert_renewed is changed
{% endraw %}

