cluster_name = "{{ hs_vault_cluster_name }}"
api_addr     = "{{ __hs_vault_conf_api_addr }}"
cluster_addr = "{{ __hs_vault_conf_cluster_addr }}"

ui           = true
log_level    = "Info"

storage "raft" {
  path    = "{{ __hs_vault_data_dir }}"
  node_id = "{{ hs_vault_node_id }}"

{% for partner_peer in __hs_vault_master_partners %}
  retry_join {
    leader_api_addr         = "{{ __hs_vault_api_protocol }}://{{ partner_peer }}:{{ hs_vault_api_port }}"
{% if hs_vault_use_custom_ca %}    leader_ca_cert_file     = "{{ __hs_vault_ca_certificate }}"{% endif %}
    leader_client_key_file  = "{{ __hs_vault_self_private_key }}"
    leader_client_cert_file = "{{ __hs_vault_self_certificate }}"
  }
{% endfor %}
}

listener "tcp" {
  address            = "{{ __hs_vault_api_listener }}"
  cluster_address    = "{{ __hs_vault_cluster_listener }}"
  tls_cert_file      = "{{ __hs_vault_self_certificate }}"
  tls_key_file       = "{{ __hs_vault_self_private_key }}"
{% if hs_vault_use_custom_ca %}  tls_client_ca_file = "{{ __hs_vault_ca_certificate }}"{% endif %}
}

telemetry {
  disable_hostname = true
  prometheus_retention_time = "30s"
}
