---
- name: Restart consul
  systemd:
    name: consul
    state: restarted
    daemon_reload: true
    enabled: true

- name: "Update ca trust"
  command: >-
    {{ __hs_update_trust_command }}

- name: "Restart vault-sidecar"
  systemd:
    name: "vault-sidecar"
    state: restarted
    daemon_reload: true
    enabled: true

- name: Reload consul
  systemd:
    name: consul
    state: reloaded
    enabled: true

- name: Restart minion2vault
  systemd:
    name: minion2vault
    state: restarted
    daemon_reload: true
    enabled: true
