# To troubleshoot and get more log info enable ldap debug logging in grafana.ini
# [log]
# filters = ldap:debug

[[servers]]
host = "{{ grafana_ldap_host }}"
port = {{ grafana_ldap_port }}
use_ssl = {{ grafana_ldap_use_ssl | string | lower}}
# If set to true, use LDAP with STARTTLS instead of LDAPS
start_tls = {{ grafana_ldap_start_tls | string | lower}}
ssl_skip_verify = {{ grafana_ldap_skip_tls_verify | string | lower }}

bind_dn = "{{ grafana_ldap_bind_dn }}"
bind_password = "{{ grafana_ldap_bind_password }}"

# User search filter, for example "(cn=%s)" or "(sAMAccountName=%s)" or "(uid=%s)"
search_filter = "(cn=%s)"
# An array of base dns to search through
search_base_dns = {{ grafana_ldap_search_dns }}

# Specify names of the ldap attributes your ldap uses
[servers.attributes]
name = "givenName"
surname = "sn"
username = "cn"
member_of = "memberOf"
email =  "email"

{% for __current_mapping in grafana_ldap_mappings %}
[[servers.group_mappings]]
org_role = "{{ __current_mapping.role }}"
group_dn = "{{ __current_mapping.dn }}"
grafana_admin = {{ (__current_mapping.is_instance_admin | default(false)) | string | lower}}
{% endfor %}

# ldapsearch -H ldap://localhost:389 -D cn=grafana-service,dc=viadirect,dc=wescale,dc=fr -w DXlwzrFmJB2n4JyD -x -b ou=grafana,dc=viadirect,dc=wescale,dc=fr "objectclass=posixAccount"
