---
- name: "[LOCAL] Render {{ _current_conf_addon }} addon"    # noqa risky-file-permissions name[template]
  copy:
    src: "{{ role_path }}/files/{{ _current_conf_addon }}/"
    dest: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/"
  delegate_to: localhost
  become: false
  when:
    - __hs_vault_is_first_master

- name: "[LOCAL] Render backend tf file"
  template:
    src: "tf_backend_{{ hs_vault_terraform_backend_type }}.tf.j2"
    dest: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/backend.tf"
    mode: 0644
  delegate_to: localhost
  become: false
  when:
    - __hs_vault_is_first_master
    - hs_vault_terraform_backend_type is defined
    - (hs_vault_terraform_backend_type | length) > 0
    - hs_vault_terraform_backend_type in ['s3','local']

- name: "[LOCAL] Apply {{ _current_conf_addon }} addon"  # noqa name[template]
  cloud.terraform.terraform:
    project_path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}"
    state: "present"    # noqa args
    force_init: true
    backend_config: "{{ hs_vault_terraform_backend_config }}"
    init_reconfigure: true
    provider_upgrade: "{{ hs_tf_provider_upgrade | default(true) }}"
    workspace: "{{ hs_vault_cluster_name }}-{{ item.fullpath | regex_replace('/','-')}}{{ item.name }}"
    complex_vars: true
    variables:
      namespace: "{{ item.fullpath }}{{ item.name }}"
      secret: "{{ item.kvv2 }}"
  loop: "{{hs_vault_namespaces_tf}}"
  environment:
    VAULT_ADDR: "{{ hs_vault_geo_url }}"
    VAULT_TOKEN: "{{ vault_init_content.root_token }}"
    VAULT_CACERT: "{{ hs_vault_use_custom_ca | ternary(hs_vault_local_ca_cert, '') }}"
    TF_CLI_ARGS: ""
    TF_CLI_ARGS_init: ""
    TF_CLI_ARGS_plan: ""
    TF_CLI_ARGS_apply: ""
    TF_CLI_ARGS_destroy: ""
  register: tf_result
  delegate_to: localhost
  throttle: 1
  become: false
  when:
    - __hs_vault_is_first_master and (item.kvv2 is defined and (item.kvv2 | length>0))

