---
- name: "[LOCAL] Render {{ _current_conf_addon }} addon"    # noqa risky-file-permissions name[template]
  copy:
    src: "{{ role_path }}/files/{{ _current_conf_addon }}/"
    dest: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/"
  delegate_to: localhost
  become: false
  when:
    - __hs_vault_is_first_master

- name: Check that the backend.tf exists
  stat:
    path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/backend.tf"
  register: stat_result
  become: false
  delegate_to: localhost

- name: Decrypt TFADDONS backend.tf
  command: >-
    ansible-vault decrypt {{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/backend.tf
  become: false
  delegate_to: localhost
  when:
    - __hs_ansible_vault_password_file_is_present
    - stat_result.stat.exists
    - hs_vault_terraform_backend_type not in ['s3']

- name: "[LOCAL] Render backend tf file"
  template:
    src: "tf_backend_{{ hs_vault_terraform_backend_type }}.tf.j2"
    dest: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/backend.tf"
    mode: 0644
  delegate_to: localhost
  become: false
  when:
    - __hs_vault_is_first_master
    - hs_vault_terraform_backend_type is defined
    - (hs_vault_terraform_backend_type | length) > 0
    - hs_vault_terraform_backend_type in ['s3']

- name: Check that the terraform.tfstate.d exists
  stat:
    path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/terraform.tfstate.d/{{ hs_workspace }}-{{ item.name }}"
  become: false
  delegate_to: localhost
  loop: "{{hs_vault_namespaces_tf}}"
  loop_control:
    index_var: my_idx
  register: statdir_result

- name: Decrypt TFADDONS terraform.tfstate
  vars:
    tfstate_path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/terraform.tfstate.d/{{ hs_workspace }}-{{ item.name }}/terraform.tfstate"
  command: >-
    ansible-vault decrypt {{ tfstate_path }} 
  become: false
  delegate_to: localhost
  loop: "{{hs_vault_namespaces_tf}}"
  loop_control:
    index_var: my_idx
  when:
    - __hs_ansible_vault_password_file_is_present
    - statdir_result.results[my_idx].stat.exists and statdir_result.results[my_idx].stat.isdir
    - tfstate_path is vaulted_file

- name: Decrypt TFADDONS terraform.tfstate.backup 
  vars:
    tfstate_path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/terraform.tfstate.d/{{ hs_workspace }}-{{ item.name }}/terraform.tfstate.backup"
  command: >-
    ansible-vault decrypt {{ tfstate_path }} 
  become: false
  delegate_to: localhost
  loop: "{{hs_vault_namespaces_tf}}"
  loop_control:
    index_var: my_idx
  when:
    - __hs_ansible_vault_password_file_is_present
    - statdir_result.results[my_idx].stat.exists and statdir_result.results[my_idx].stat.isdir
    - tfstate_path is vaulted_file

- name: "[LOCAL] Apply {{ _current_conf_addon }} addon"  # noqa name[template]
  cloud.terraform.terraform:
    project_path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}"
    state: "present"    # noqa args
    force_init: true
    backend_config: "{{ hs_vault_terraform_backend_config }}"
    init_reconfigure: true
    provider_upgrade: "{{ hs_tf_provider_upgrade | default(true) }}"
    workspace: "{{ hs_workspace }}-{{ item.name }}"
    complex_vars: true
    variables:
      namespace: "{{ item.name }}"
      parent: "{{ item.fullpath | regex_replace('/$','') | default('')}}"
      policies: "{{ item.policies }}"
  loop: "{{hs_vault_namespaces_tf}}"
  environment:
    VAULT_ADDR: "{{ hs_vault_tf_url | default(hs_vault_geo_url, true) }}"
    VAULT_TOKEN: "{{ hs_vault_operator_token | default(vault_init_content.root_token, true) }}"
    VAULT_CACERT: "{{ hs_vault_use_custom_ca | ternary(hs_vault_local_ca_cert, '') }}"
    TF_CLI_ARGS: ""
    TF_CLI_ARGS_init: ""
    TF_CLI_ARGS_plan: ""
    TF_CLI_ARGS_apply: ""
    TF_CLI_ARGS_destroy: ""
  register: tf_result
  delegate_to: localhost
  throttle: 1
  become: false
  when:
    - __hs_vault_is_first_master

- name: Check that the backend.tf exists
  stat:
    path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/backend.tf"
  register: stat_result
  become: false
  delegate_to: localhost

- name: Encrypt TFADDONS backend.tf
  command: >-
    ansible-vault encrypt {{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/backend.tf
  become: false
  delegate_to: localhost
  when:
    - __hs_ansible_vault_password_file_is_present
    - stat_result.stat.exists

- name: Check that the terraform.tfstate.d exists
  stat:
    path: "{{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/terraform.tfstate.d/{{ hs_workspace }}-{{ item.name }}"
  become: false
  delegate_to: localhost
  loop: "{{hs_vault_namespaces_tf}}"
  loop_control:
    index_var: my_idx
  register: statdir_result

- name: Encrypt TFADDONS terraform.tfstate
  command: >-
    ansible-vault encrypt {{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/terraform.tfstate.d/{{ hs_workspace }}-{{ item.name }}/terraform.tfstate 
  become: false
  delegate_to: localhost
  loop: "{{hs_vault_namespaces_tf}}"
  loop_control:
    index_var: my_idx
  when:
    - __hs_ansible_vault_password_file_is_present
    - statdir_result.results[my_idx].stat.exists and statdir_result.results[my_idx].stat.isdir

- name: Encrypt TFADDONS terraform.tfstate.backup
  command: >-
    ansible-vault encrypt {{ hs_vault_terraform_work_dir }}/vault_addon_{{ _current_conf_addon }}/terraform.tfstate.d/{{ hs_workspace }}-{{ item.name }}/terraform.tfstate.backup
  become: false
  delegate_to: localhost
  loop: "{{hs_vault_namespaces_tf}}"
  loop_control:
    index_var: my_idx
  when:
    - __hs_ansible_vault_password_file_is_present
    - statdir_result.results[my_idx].stat.exists and statdir_result.results[my_idx].stat.isdir