---
- name: "Load secret dir"
  include_vars:
    dir: "{{ hs_vault_local_secret_dir }}"
    ignore_unknown_extensions: true
  no_log: false

- name: Get vault status
  uri:
    url: "{{ hs_vault_promote_url | default(hs_vault_external_url, true) }}/v1/sys/health"
    ca_path: "{{ hs_vault_use_custom_ca | ternary(hs_vault_local_ca_cert, '') | default(omit, true) }}"
    return_content: true
    status_code: [200,429,472]
  register: _current_vault_status
  retries: 6
  delegate_to: localhost
  delay: 10
  until:
    - _current_vault_status.status == 200 or _current_vault_status.status == 429 or _current_vault_status.status == 472


- name: demote if primary
  when: 
  - _current_vault_status.json.replication_dr_mode == 'secondary'
  - __hs_vault_is_first_master
  block:
    
    - name: init root dr operation token
      uri:
        method: DELETE
        url: "{{ hs_vault_promote_url | default(hs_vault_external_url, true) }}/v1/sys/replication/dr/secondary/generate-operation-token/attempt"
        headers:
          X-Vault-Token: "{{ hs_vault_operator_token | default(vault_init_content.root_token, true) }}"
        ca_path: "{{ hs_vault_use_custom_ca | ternary(hs_vault_local_ca_cert, '') | default(omit, true) }}"
        return_content: true
        status_code: [200,204]
      register: _vault_dr_genroot_process
      retries: 2
      delay: 5
      until:
        - _vault_dr_genroot_process.status == 200 or _vault_dr_genroot_process.status == 204
      delegate_to: localhost
      run_once: true
      tags:
        - vault
      
    - name: init root dr operation token
      uri:
        method: POST
        url: "{{ hs_vault_promote_url | default(hs_vault_external_url, true) }}/v1/sys/replication/dr/secondary/generate-operation-token/attempt"
        headers:
          X-Vault-Token: "{{ hs_vault_operator_token | default(vault_init_content.root_token, true) }}"
        ca_path: "{{ hs_vault_use_custom_ca | ternary(hs_vault_local_ca_cert, '') | default(omit, true) }}"
        return_content: true
      register: _vault_dr_genroot_process
      retries: 2
      delay: 5
      until:
        - _vault_dr_genroot_process.status == 200
      delegate_to: localhost
      run_once: true
      tags:
        - vault

    - name: "Variable cooking"
      set_fact:
        _vault_dr_genroot_nonce: "{{ _vault_dr_genroot_process.json.nonce }}"
        _vault_dr_genroot_otp: "{{ _vault_dr_genroot_process.json.otp }}"

    # TBD - key secret_shares + .nonce
      
    - name: Target unseal keys to use
      set_fact:
        _vault_unseal_minimum_keys: >-
          {{ vault_init_content.keys_base64[:(hs_vault_unseal_key_threshold)] }}
      no_log: false
      tags:
        - vault

    - name: root dr retrieve encoded operation token
      uri:
        url: "{{ hs_vault_promote_url | default(hs_vault_external_url, true) }}/v1/sys/replication/dr/secondary/generate-operation-token/update"
        ca_path: "{{ hs_vault_use_custom_ca | ternary(hs_vault_local_ca_cert, '') | default(omit, true) }}"
        method: POST
        body_format: json
        body:
          key: "{{ _current_key }}"
          nonce: "{{ _vault_dr_genroot_nonce }}"
        return_content: true
      loop: "{{ _vault_unseal_minimum_keys }}"
      loop_control:
        loop_var: _current_key
      register: _vault_dr_genroot_encodedtoken
      no_log: false
      delegate_to: localhost
      tags: vault

    - name: "Variable cooking"
      set_fact:
        _vault_dr_genroot_encoded_root_token: >-
          {{ _vault_dr_genroot_encodedtoken.results[-1].json.encoded_token }}
    
    - name: Decode token
      # uri:
      #   url: "{{ hs_vault_promote_url | default(hs_vault_external_url, true) }}/v1/sys/replication/dr/secondary/generate-operation-token/attempt"
      #   method: POST
      #   body_format: json
      #   body:
      #     encoded_token: "{{ _vault_dr_genroot_encoded_root_token }}"
      #     otp: "{{ _vault_dr_genroot_otp }}"
      shell:
        cmd: >-
          VAULT_ADDR="{{ hs_vault_promote_url | default(hs_vault_external_url, true)  }}"
          vault operator generate-root -dr-token -decode={{ _vault_dr_genroot_encoded_root_token }} -otp={{ _vault_dr_genroot_otp }}
        executable: /usr/bin/bash

      register: _vault_dr_genroot_token
      no_log: false
      run_once: true
      become: true
      # delegate_to: localhost
      tags: vault
      
    - name: Promote cluster
      uri:
        url: "{{ hs_vault_promote_url | default(hs_vault_external_url, true) }}/v1/sys/replication/dr/secondary/promote"
        ca_path: "{{ hs_vault_use_custom_ca | ternary(hs_vault_local_ca_cert, '') | default(omit, true) }}"
        method: POST
        body_format: json
        body:
          dr_operation_token: "{{ _vault_dr_genroot_token.stdout }}"
      no_log: false
      run_once: true
      delegate_to: localhost
      tags: vault
      