---
- name: Init first node
  include_tasks: "_inplace_init.yml"
  when: __hs_vault_is_first_master

- name: Unseal first node
  include_tasks: "_inplace_unseal.yml"
  vars:
    vault_unseal_target: "{{ [groups[hs_vault_inventory_masters_group][0]] }}"

- name: Get vault status
  uri:
    url: "{{ __hs_vault_api.status }}"
    return_content: true
  register: _current_vault_status
  environment:
    SSL_CERT_FILE: /etc/ssl/certs/ca-certificates.crt
  when: __hs_vault_is_first_master
  retries: 10
  delay: 10
  until:
    - _current_vault_status.status == 200
    - not _current_vault_status.json.sealed

- name: Handling first init variable propagation
  set_fact:
    vault_init_content: "{{ hostvars[groups[hs_vault_inventory_masters_group][0]].vault_init_content }}"
  when:
    - inventory_hostname in groups[hs_vault_inventory_masters_group][1:]
    - vault_init_content is not defined

- name: Assert unseal keys content
  assert:
    that:
      - vault_init_content is defined
  no_log: true

- name: Unseal other nodes
  include_tasks: "_inplace_unseal.yml"
  vars:
    vault_unseal_target: "{{ groups[hs_vault_inventory_masters_group][1:] }}"
