[hashistack:children]
hashistack_cluster
hashistack_sre

[hashistack_cluster:children]
hashistack_masters
hashistack_minions

[hashistack_sre]
{{ hs_workspace }}-sre

[hashistack_masters]
{% for master_ip in masters_ipv4 %}
{{ hs_workspace }}-master-0{{ loop.index }}
{% endfor %}

[hashistack_minions]
{% for minion_ip in minions_ipv4 %}
{{ hs_workspace }}-minion-0{{ loop.index }}
{% endfor %}
