---
- name: "Init"
  debug:
    msg: "Starting init phase"
    verbosity: 1

- name: "Add hosts to ssh config"
  blockinfile:
    path: "{{ hs_workspace_root }}/ssh.cfg"
    state: present
    create: true
    mode: 0640
    marker: "{{ __hs_stage0_block_marker }}"
    block: |
      {{ lookup('template', hs_archi + '/_ssh_cfg.j2') }}
  tags:
    - outputs

- name: Add hosts to inventory
  blockinfile:
    path: "{{ hs_workspace_root }}/inventory"
    state: present
    create: true
    mode: 0640
    marker: "{{ __hs_stage0_block_marker }}"
    block: |
      {{ lookup('template', hs_archi + '/_inventory.j2') }}
  tags:
    - outputs
    - molecule-notest

- name: "Render 'hashistack' group vars"
  template:
    src: "{{ hs_archi }}/out.stage0.hashistack.yml.j2"
    dest: "{{ hs_workspace_group_vars_dir }}/out.stage0.hashistack.yml"
    mode: 0640
  tags:
    - outputs

- name: "Render 'hashistack_sre' group vars"
  template:
    src: "multi/out.stage0.hashistack_sre.yml.j2"
    dest: "{{ hs_workspace_sre_group_vars_dir }}/out.stage0.hashistack_sre.yml"
    mode: 0640
  when: hs_archi == 'multi'
  tags:
    - outputs
