Host {{ workspace }}-controller
  Hostname {{ controller_ipv4 }}

{% for master_ip in masters_ipv4 %}
Host {{ workspace }}-master-0{{ loop.index }}
  Hostname {{ master_ip }}

{% endfor %}
{% for minion_ip in minions_ipv4 %}
Host {{ workspace }}-minion-0{{ loop.index }}
  Hostname {{ minion_ip }}

{% endfor %}
Host {{ workspace }}-master-* {{ workspace }}-minion-*
  ProxyCommand ssh -F ssh.cfg -W %h:%p {{ workspace }}-controller

Host {{ workspace }}-*
  User {{ current_ssh_user }}
  IdentityFile  {{ ssh_private_key_file }}
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ControlMaster   auto
  ControlPath     ~/.ssh/mux-%r@%h:%p
  ControlPersist  15m

