Host {{ hs_workspace }}-mono
  Hostname {{ mono_ipv4 }}
  User {{ current_ssh_user }}
  IdentityFile  ./group_vars/{{ hs_workspace }}/secrets/{{ hs_workspace }}.key
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
  ControlMaster   auto
  ControlPath     ~/.ssh/mux-%r@%h:%p
  ControlPersist  15m
  ServerAliveInterval 100
  TCPKeepAlive yes

