---
public_ipv4: "{{ controller_ipv4 }}"
public_ipv6: "{{ controller_ipv6 }}"
{% raw %}
acme_account_email: "{{ lookup('env', 'HS_WORKSPACE_EMAIL') }}"
acme_domains:
  - cn: "*.{{ public_domain }}"
    zone: "{{ public_domain }}"

dns_enable: true

bind_allow_query: ['any']
bind_listen_ipv4: "{{ ansible_all_ipv4_addresses | union(['127.0.0.1']) }}"
bind_listen_ipv6: "{{ ansible_all_ipv6_addresses | union(['::1']) }}"
bind_recursion: true
bind_allow_recursion:
  - "127.0.0.1"
bind_forwarders:
  - "9.9.9.9"

bind_views:
  - name: default
    match_clients:
      - "!{{ (ansible_ens5.ipv4.network + '/' + ansible_ens5.ipv4.netmask) | ansible.netcommon.ipaddr('net') }}"
      - "any"
  - name: internal
    match_clients:
      - "{{ (ansible_ens5.ipv4.network + '/' + ansible_ens5.ipv4.netmask) | ansible.netcommon.ipaddr('net') }}"

bind_zone_domains:
  - name: "{{ public_domain }}"
    type: master
    hostmaster_email: "hostmaster.{{ public_domain }}"
    allow_update:
      - "localhost"
    name_servers:
      - ns
    mail_servers:
      - name: mx
        preference: 10
    text:
      - name: "{{ public_domain }}."
        text: "v=spf1 mx -all"
    hosts:
      - name: ""
        ip: "{{ public_ipv4 }}"
        ttl: 300
      - name: "controller"
        ip: "{{ public_ipv4 }}"
        ttl: 300
      - name: ns
        ip: "{{ public_ipv4 }}"
        ttl: 300
      - name: mx
        ip: "{{ public_ipv4 }}"
        ttl: 300
        aliases:
          - mail
{% endraw %}

