job "loki" {
  datacenters = ["{{ workspace }}"]
  type        = "service"

  group "loki" {
    count = 1

    network {
      mode = "bridge"
      dns {
        servers = {{ ovh_master_servers|map(attribute='private_ip')|list|to_json }}
        searches = ["coffreo.cc"]
      }
      port "http" {
        static = 3100
      }
    }

    service {
      name = "loki"
      port = "http"
      tags = ["monitoring","prometheus"]

      connect {
        sidecar_service {}
      }

      check {
        name     = "Loki HTTP"
        type     = "http"
        path     = "/ready"
        interval = "5s"
        timeout  = "2s"

        check_restart {
          limit           = 2
          grace           = "60s"
          ignore_warnings = false
        }
      }
    }

    restart {
      attempts = 3
      delay    = "20s"
      mode     = "delay"
    }

    task "loki" {
      driver = "docker"

      env {
        JAEGER_AGENT_HOST    = "tempo.service.{{ workspace }}.consul"
        JAEGER_TAGS          = "cluster=nomad"
        JAEGER_SAMPLER_TYPE  = "probabilistic"
        JAEGER_SAMPLER_PARAM = "1"
      }

      config {
        image   = "grafana/loki:main"
        ports   = ["http"]
        args    = [
          "-config.file",
          "/etc/loki/local-config.yaml",
        ]
        volumes = [
          "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/cert.pem"
        ]
      }

      resources {
        cpu    = 200
        memory = 200
      }

    }
  }
}

