job "promtail" {
  datacenters = ["{{ workspace }}"]
  # Runs on all nomad clients
  type = "system"

  group "promtail" {
    count = 1

    network {
      mode = "bridge"
      dns {
        servers = {{ ovh_master_servers|map(attribute='private_ip')|list|to_json }}
        searches = ["coffreo.cc"]
      }
      port "http" {
        static = 3200
      }
    }

    service {
      name = "promtail"
      port = "http"
      tags = ["monitoring","prometheus"]

      connect {
        sidecar_service {
          proxy {
            upstreams {
              destination_name = "loki"
              local_bind_port = 3101
            }
          }
        }
      }

      check {
        name     = "Promtail HTTP"
        type     = "http"
        path     = "/targets"
        interval = "5s"
        timeout  = "2s"

        check_restart {
          limit           = 2
          grace           = "60s"
          ignore_warnings = false
        }
      }
    }



    restart {
      attempts = 3
      delay    = "20s"
      mode     = "delay"
    }

    task "promtail" {
      driver = "docker"

      env {
        HOSTNAME = "${attr.unique.hostname}"
      }
      template {
        destination = "/local/promtail.yml"
        data        = <<EOTC
positions:
  filename: /data/positions.yaml

clients:
  - url: http://localhost:3101/loki/api/v1/push

scrape_configs:
- job_name: 'nomad-logs'
  consul_sd_configs:
    - server: 'master01.coffreo.cc:8501'
      scheme: 'https'
  relabel_configs:
    - source_labels: [__meta_consul_node]
      target_label: __host__
      regex: '(.*)-coffreo-cc'
      replacement: '$1.coffreo.cc'
    - source_labels: [__meta_consul_service_metadata_external_source]
      target_label: source
      regex: (.*)
      replacement: '$1'
    - source_labels: [__meta_consul_service_id]
      regex: '_nomad-task-([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})-.*'
      target_label:  'task_id'
      replacement: '$1'
    - source_labels: [__meta_consul_tags]
      regex: ',(app|monitoring),'
      target_label:  'group'
      replacement:   '$1'
    - source_labels: [__meta_consul_service]
      target_label: job
    - source_labels: ['__meta_consul_node']
      regex:         '(.*)'
      target_label:  'instance'
      replacement:   '$1'
    - source_labels: [__meta_consul_service_id]
      regex: '_nomad-task-([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})-.*'
      target_label:  '__path__'
      replacement: '/nomad/alloc/$1/alloc/logs/*std*.{?,??}'
EOTC
      }

      config {
        image = "grafana/promtail:main"
        ports = ["http"]
        args = [
          "-config.file=/local/promtail.yml",
          "-server.http-listen-port=${NOMAD_PORT_http}",
          "-log.level=debug"
        ]
        volumes = [
          "/data/promtail:/data",
          "/opt/nomad/data/:/nomad/",
          "/etc/ssl/certs/ca-certificates.crt:/etc/ssl/certs/ca-certificates.crt"
        ]
      }

      resources {
        cpu    = 50
        memory = 100
      }

    }
  }
}
