server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: {{ loki_url }}/loki/api/v1/push

scrape_configs:
  - job_name: journal
    journal:
      max_age: 12h
      labels:
        job: systemd-journal
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
      - source_labels: ['__journal__hostname']
        target_label: nodename
      - source_labels: ['__journal_syslog_identifier']
        target_label: syslog_identifier

{% if promtail_sre_target_config != [] and inventory_hostname in groups['hashistack_sre'] %}
  {{ promtail_sre_target_config | to_nice_yaml(indent=2,sort_keys=False) | indent(2,False) }}
{% endif %}

{% if inventory_hostname in groups['hashistack_minions'] %}
  - job_name: nomad
    consulagent_sd_configs:
      - server: https://{{ inventory_hostname }}.{{ public_domain }}:8501
        scheme: https
        token: "{{ hs_consul_prometheus_token | default('empty') }}"
    relabel_configs:
      - source_labels: [__meta_consulagent_node]
        target_label: __host__
      - source_labels: [__meta_consulagent_service_metadata_external_source]
        target_label: source
        regex: (.*)
        replacement: '$1'
      - source_labels: [__meta_consulagent_service_id]
        regex: '_nomad-task-([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})-.*'
        target_label:  'task_id'
        replacement: '$1'
      - source_labels: [__meta_consulagent_tags]
        regex: ',(app|monitoring),'
        target_label:  'group'
        replacement:   '$1'
      - source_labels: [__meta_consulagent_service]
        target_label: job
      - source_labels: ['__meta_consulagent_node']
        regex:         '(.*)'
        target_label:  'instance'
        replacement:   '$1'
      - source_labels: [__meta_consulagent_service_id]
        regex: '_nomad-task-([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12})-.*'
        target_label:  '__path__'
        replacement: '/opt/nomad/data/alloc/$1/alloc/logs/*std*.{?,??}'
{% endif %}