---
private_ipv4: "{{ sre_private_ipv4 }}"
public_ipv4: "{{ sre_ipv4 }}"
public_ipv6: "{{ sre_ipv6 }}"
{% raw %}
_private_cidr: "{{ (ansible_ens5.ipv4.network + '/' + ansible_ens5.ipv4.netmask) | ansible.utils.ipaddr('net') }}"
acme_domains:
  - cn: "*.{{ public_domain }}"
    zone: "{{ public_domain }}"
acme_nsupdate_host: "{{ ansible_default_ipv4.address }}"

acme_nsupdate_key_name: "{{ hs_dns_key.name }}"
acme_nsupdate_key_algorithm: hmac-sha256
dns_enable: true

bind_allow_query: ['any']
bind_listen_ipv4: "{{ ansible_all_ipv4_addresses | union(['127.0.0.1']) }}"
bind_listen_ipv6: "{{ ansible_all_ipv6_addresses | union(['::1']) }}"
bind_recursion: true
bind_allow_recursion:
  - "127.0.0.1"
  - "{{ _private_cidr }}"
bind_forwarders:
  - "9.9.9.9"

hs_dns_key:
  name: "{{ public_domain }}."
  algorithm: hmac-sha256

bind_tsig_keys:
  - "{{ hs_dns_key }}"

bind_views:
  - name: default
    match_clients:
      - "!{{ _private_cidr }}"
      - "!127.0.0.1"
      - "any"
  - name: internal
    match_clients:
      - "{{ _private_cidr }}"
      - "127.0.0.1"

bind_zone_domains:
  - name: "consul"
    type: forward
    forwarders:
      - "127.0.0.1 port 8600"

  - name: "{{ public_domain }}"
    type: master
    hostmaster_email: "hostmaster.{{ public_domain }}"
    allow_update:
      - "key {{ hs_dns_key.name }}"
    name_servers:
      - ns
    mail_servers:
      - name: mx
        preference: 10
    text:
      - name: "{{ public_domain }}."
        text: "v=spf1 mx -all"
    hosts:
      - name: ""
        ip: "{{ public_ipv4 }}"
        ttl: 300
      - name: "sre"
        ip: "{{ public_ipv4 }}"
        ttl: 300
      - name: ns
        ip: "{{ public_ipv4 }}"
        ttl: 300
        aliases:
          - vault
          - consul
          - nomad
          - grafana
      - name: mx
        ip: "{{ public_ipv4 }}"
        ttl: 300
        aliases:
          - mail
{% endraw %}

