#
# Reference:
#   https://github.com/hashicorp/consul-template/blob/main/docs/configuration.md
#
consul {
  address     = "localhost:8501"
  token       = "{{ consul_template_token }}"

  ssl {
    enabled   = true
    verify    = true
  }
}

vault {
  address     = "{{ consul_vault_address }}"
  token       = "{{ consul_template_vault_token }}"
  renew_token = true
  ssl {
    enabled   = true
    verify    = true
  }
  lease_renewal_threshold = 0.50
}

template {
  source      = "/etc/consul-template/healthcheck.crt.ctmpl"
  destination = "/etc/consul-template/healthcheck.crt"
}
template {
  source      = "/etc/consul-template/healthcheck.key.ctmpl"
  destination = "/etc/consul-template/healthcheck.key"
}
template {
  source      = "/etc/consul-template/healthcheck.ca.ctmpl"
  destination = "/etc/consul-template/healthcheck.ca"
}
