[Unit]
Description=Consul Template
Documentation=https://github.com/hashicorp/consul-template
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/consul-template -config={{ __consul_template_conf_file }}
KillMode=process
KillSignal=SIGINT
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
