---
- name: Setup sre host
  hosts: "hashistack"
  become: true
  gather_facts: true

  pre_tasks:
    - name: Generate internal zone based on the private network interface - IMPROVEMENT
      set_fact:
        _local_zone: >-
          {{
          _local_zone | default([{'name': 'vault', 'ip': '127.0.0.1', 'ttl': 300}])
            | union([
              {
                'name': (_current_host),
                'ip': (hostvars[_current_host].ansible_ens5.ipv4.address),
                'ttl': 300
              }
            ])
          }}
      loop: "{{ groups['hashistack'] }}"
      loop_control:
        loop_var: _current_host
      when:
        - inventory_hostname in groups['hashistack_sre']
        - groups['hashistack_masters'] | length > 1

    - name: Render local group vars file for internal zone
      template:
        src: _internal.zone.yml.j2
        dest: "{{ hs_workspace_group_vars_dir }}/internal_zone.yml"
        mode: 0640
      delegate_to: localhost
      become: false
      when:
        - inventory_hostname in groups['hashistack_sre']
        - groups['hashistack_masters'] | length > 1

    - name: Reload local group vars file for internal zone
      include_vars:
        file: "{{ hs_workspace_group_vars_dir }}/internal_zone.yml"

    - name: Merge internal zone with external for dns role
      set_fact:
        bind_zone_domains: "{{ bind_zone_domains | union([internal_zone]) }}"

  roles:
    - "rtnp.galaxie_clans.dns"

  tasks:
    - name: Override dns autoconf
      lineinfile:
        create: true
        path: /etc/dhcp/dhclient.conf
        line: "{{ _current_dhclient_config_line }}"
        mode: 0644
      loop:
        - >-
          prepend domain-name-servers 127.0.0.1;
      loop_control:
        loop_var: _current_dhclient_config_line
      notify: Restart networking

  handlers:
    - name: Restart networking
      systemd:
        name: networking
        state: restarted
        enabled: true
      when: molecule_yml is not defined
