---
- name: Prepare remote host remote
  hosts: "hashistack"
  become: true
  gather_facts: false

  tasks:
    - name: Rsync find
      find:
       paths: /var/cache/apt/archives
       patterns: '^rsync.*.deb$'
       use_regex: yes
      register: rsync_output
      delegate_to: localhost

    - name: Rsync set fact
      set_fact: 
        rsync_path: "{{ rsync_output.files[0].path }}"

    - name: Copy rsync dep
      copy:
        src: "{{ rsync_path }}"
        dest: "{{ rsync_path }}"
        mode: 0755

    - name: Copy apt config
      copy:
        src: /etc/apt/sources.list
        dest: /etc/apt/sources.list
        mode: 0644

    - name: Install rsync
      apt:
        deb: "{{ rsync_path }}"

    - name: Copy cache folder  # noqa: no-same-owner
      ansible.posix.synchronize:
        src: /var/cache/
        dest: /var/cache
        rsync_opts: '-e "ssh -F {{ hs_workspace_root }}/ssh.cfg"'

    - name: Copy apt cache folder  # noqa: no-same-owner
      ansible.posix.synchronize:
        src: /var/lib/apt/lists/
        dest: /var/lib/apt/lists/
        rsync_opts: '--delete -e "ssh -F {{ hs_workspace_root }}/ssh.cfg"' # ajout delete a tester
