---
- name: Deploy nginx
  hosts: "hashistack_sre"
  become: true
  gather_facts: true

  vars:
    rproxy_enable: true
    rproxy_nginx_enable_sites: true
    rproxy_nginx_enable_streams: true
    core_rproxy_nginx_managed_sites:
      - hashistack

  roles:
    - rtnp.galaxie_clans.rproxy
    - stage1_rproxy
