---
- name: "Stage 3 - Nomad prerequises"
  hosts: "hashistack_cluster"
  become: true
  gather_facts: true

  tasks:
    - name: Force docker daemon
      apt:
        name: "skopeo"
        state: present

- name: "Stage 3 - Nomad installation"
  hosts: "hashistack_cluster"
  become: true
  gather_facts: true

  roles:
    - "rtnp.galaxie_clans.container"
    - "nomad"

  tasks:
    - name: Force docker daemon
      systemd:
        name: "docker"
        state: started
        enabled: true
        daemon_reload: true
