---
- name: Loki
  hosts: "hashistack"
  become: true
  gather_facts: true
  pre_tasks:
    - name: Load group vars
      include_vars:
        dir: "{{ hs_workspace_group_vars_dir }}"
        ignore_unknown_extensions: true
  roles:
    - role: "loki"

- name: Host metrics agent
  hosts: "hashistack"
  become: true
  gather_facts: true
  roles:
    - role: "rtnp.galaxie_clans.monitor"

- name: Collect and Present
  hosts: "hashistack_sre"
  become: true
  gather_facts: true
  vars:
    tf_action: "{{ tf_action }}"

  pre_tasks:
    - name: Load group vars
      include_vars:
        dir: "{{ hs_workspace_group_vars_dir }}"
        ignore_unknown_extensions: true

  roles:
    - role: "prometheus"
    - role: "grafana"
    - role: "alloy"

- name: Define consul services for exporters
  hosts: "hashistack"
  tags:
    - consul
  become: true
  gather_facts: true
  tasks:
    - name: Render consul api consul service
      copy:
        dest: /etc/consul.d/consul.api.json
        mode: 0640
        content: |-
          {
            "service": {
              "name": "consul-api",
              "tags": [
                "platform"
              ],
              "port": 8501,
              "address": "{{ inventory_hostname }}.{{ public_domain }}"
            }
          }
        owner: consul
        group: consul

    - name: Render netdata consul service
      copy:
        dest: /etc/consul.d/node_exporter.service.json
        mode: 0640
        content: |-
          {
            "service": {
              "name": "netdata",
              "tags": [
                "prometheus"
              ],
              "port": 19999,
              "address": "{{ inventory_hostname }}.{{ public_domain }}"
            }
          }
        owner: consul
        group: consul

    - name: Reload consul
      service:
        name: consul
        state: reloaded
