---
- name: "[VAULT ENTREPRISE] REKEY TOKEN"
  hosts: "{{ hs_vault_inventory_primary_masters_group | default('hashistack_masters') }}"
  become: true
  gather_facts: true
  strategy: linear

  tasks:
    - name: "Rekey vault"
      include_role:
        name: "vault"
        tasks_from: "__rekey.yml"
        apply:
          tags:
            - vault
      tags:
        - vault
