---
- name: "[VAULT ENTREPRISE] POSTCONFIG"
  hosts: "{{ hs_vault_inventory_primary_masters_group | default('hashistack_masters1[0]') }}"
  become: true
  gather_facts: true
  strategy: linear

  tasks:
    - name: "Vault"
      include_role:
        name: "vault"
        tasks_from: "__tf_postconfig.yml"
        apply:
          tags:
            - vault
      tags:
        - vault

