---
- name: "[VAULT] Snapshot"
  hosts: "{{ scope | default('hashistack_masters') }}"
  become: false
  gather_facts: false

  # vars:
  #   ansible_ssh_user: "vault-snapshot"

  pre_tasks:
    - name: "Load vault role variables"
      import_role:
        name: "common_vars"
  tasks:
    - name: "Vault"
      include_role:
        name: "vault"
        tasks_from: "__snapshot.yml"
        apply:
          tags:
            - vault
      tags:
        - vault
    