server:
  root-hints: "/var/lib/unbound/root.hints"
  interface: 0.0.0.0
  logfile: /var/log/unbound/unbound.log

  # Consul does not support DNSSEC
  domain-insecure: "consul"
  do-ip4: yes
  do-ip6: no
  do-udp: yes
  do-tcp: yes

  verbosity: 1

  # for Docker container
  access-control: 127.0.0.0/8 allow
  access-control: 172.17.0.0/16 allow
  access-control: 172.30.0.0/16 allow

  hide-identity: yes
  hide-version: yes
  harden-glue: yes
  use-caps-for-id: yes
  do-not-query-localhost: no
{% for node in (_local_resolver_platform_zone | dict2items) %}
  local-data: "{{ node.key }}.{{ local_resolver_domain}}. A {{ node.value.ipv4 }}"
{% endfor %}

stub-zone:
  name: "consul"
  stub-addr: "127.0.0.1@8600"

{% for _zone_forward in local_resolver_forwards %}
forward-zone: 
  name: "{{ _zone_forward.zone }}"
{% for _zone_forward_target in _zone_forward.forwards %}
  forward-addr: {{ _zone_forward_target }}
{% endfor %}
{% endfor %}
