---
- name: Converge
  hosts: all
  gather_facts: true

  tasks:
    - name: Include core_bootstrap
      include_role:
        name: stage1_bootstrap

    - name: Reload workspace vars
      include_vars:
        dir: "{{ hs_workspace_group_vars_dir }}"
        ignore_unknown_extensions: true

    - name: Include core_dns
      include_role:
        name: stage1_dns

    - name: Reload workspace vars
      include_vars:
        dir: "{{ hs_workspace_group_vars_dir }}"
        ignore_unknown_extensions: true

    - name: Include rtnp.galaxie_clans.rproxy
      include_role:
        name: rtnp.galaxie_clans.rproxy
      vars:
        rproxy_enable: true
        rproxy_nginx_enable_sites: true
        rproxy_nginx_enable_streams: true
        core_rproxy_nginx_managed_sites:
          - hashistack
      when: inventory_hostname in groups['hashistack_sre']

    - name: Include stage1_rproxy
      include_role:
        name: stage1_rproxy
      vars:
        rproxy_enable: true
        rproxy_nginx_enable_sites: true
        rproxy_nginx_enable_streams: true
        core_rproxy_nginx_managed_sites:
          - hashistack
      when: inventory_hostname in groups['hashistack_sre']

    - name: Reload workspace vars
      include_vars:
        dir: "{{ hs_workspace_group_vars_dir }}"
        ignore_unknown_extensions: true

    - name: Include vault
      include_role:
        name: vault

    - name: Include envoy
      include_role:
        name: envoy

    - name: Reload workspace vars
      include_vars:
        dir: "{{ hs_workspace_group_vars_dir }}"
        ignore_unknown_extensions: true

    - name: Include consul
      include_role:
        name: consul

    - name: Reload workspace vars
      include_vars:
        dir: "{{ hs_workspace_group_vars_dir }}"
        ignore_unknown_extensions: true

    - name: Include rtnp.galaxie_clans.container
      include_role:
        name: rtnp.galaxie_clans.container

    - name: Include nomad
      include_role:
        name: nomad
