---
_internal_zone_hosts:
{{
      [{
        'name': '',
        'ip': ansible_ens5.ipv4.address,
        'ttl': 300
      },
      {
        'name': 'ns',
        'ip': ansible_ens5.ipv4.address,
        'ttl': 300,
        'aliases': ['grafana','loki','prometheus']
      }] | union(_local_zone) | to_nice_yaml(indent=2)
}}
{% raw %}
internal_zone:
  name: "{{ public_domain }}"
  type: master
  hostmaster_email: "hostmaster.{{ public_domain }}"
  allow_update:
    - "localhost"
  view: internal
  name_servers:
    - ns
  allow_query:
    - "127.0.0.1"
    - "{{ (ansible_ens5.ipv4.network + '/' + ansible_ens5.ipv4.netmask) | ansible.utils.ipaddr('net') }}"
  hosts: "{{ _internal_zone_hosts }}"
{% endraw %}
