on:
  push:
    branches:
      - dev
  pull_request:
    branches:
      - dev
jobs:
  molecule:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        scenario:
          - default

    steps:
      - name: "Checkout project"
        uses: "actions/checkout@v2"

      - name: "Install system dependencies"
        working-directory: "wescale/hashistack"
        run: >-
          sudo apt update && 
          sudo apt install make -y &&
          make install-requirements

      - name: "Install project dependencies"
        working-directory: "wescale/hashistack"
        run: >-
          make prepare

      - name: Lint Ansible Playbook
        uses: ansible/ansible-lint-action@v6.11.0
        with:
          path: "./"
          # [optional]
          # Options:
          #   -q                    quieter, although not silent output
          #   -p                    parseable output in the format of pep8
          #   --parseable-severity  parseable output including severity of rule
          #   -r RULESDIR           specify one or more rules directories using one or
          #                         more -r arguments. Any -r flags override the default
          #                         rules in ansiblelint/rules, unless -R is also used.
          #   -R                    Use default rules in ansiblelint/rules in addition to
          #                         any extra
          #                         rules directories specified with -r. There is no need
          #                         to specify this if no -r flags are used
          #   -t TAGS               only check rules whose id/tags match these values
          #   -x SKIP_LIST          only check rules whose id/tags do not match these
          #                         values
          #   --nocolor             disable colored output
          #   --exclude=EXCLUDE_PATHS
          #                         path to directories or files to skip. This option is
          #                         repeatable.
          #   -c C                  Specify configuration file to use. Defaults to ".ansible-lint"
          args: "-q"
        env:
          ANSIBLE_ROLES_PATH: "/home/runner/work/hashistack/hashistack/wescale/hashistack/roles"

      - name: "Run molecule"
        working-directory: "wescale/hashistack"
        run: >-
          molecule test
        env:
          ANSIBLE_FORCE_COLOR: "1"
          MOLECULE_CONTAINERS_BACKEND: "docker"
          ANSIBLE_ROLES_PATH: "/home/runner/work/hashistack/hashistack/wescale/hashistack/roles"


